body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align:center;
    background-image: url("img/peak.png");
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
}

form {
   
    height: 200px;
    width: 400px;
   

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    
    
}

p {
    background-color: red
}